@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100vh;
    -webkit-text-size-adjust: 100%;
  }
}

@theme {
  --color-accent-50: var(--color-pink-50);
  --color-accent-100: var(--color-pink-100);
  --color-accent-200: var(--color-pink-200);
  --color-accent-300: var(--color-pink-300);
  --color-accent-400: var(--color-pink-400);
  --color-accent-500: var(--color-pink-500);
  --color-accent-600: var(--color-pink-600);
  --color-accent-700: var(--color-pink-700);
  --color-accent-800: var(--color-pink-800);
  --color-accent-900: var(--color-pink-900);
  --color-accent-950: var(--color-pink-950);
}
